@import '../../styles/variables';

.newsletter {
  background-image: url('../../../public/images/subscribe-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 100px;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__form {
    display: flex;
    background: $white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  &__input {
    padding: 16px 20px;
    border: none;
    outline: none;
    width: 300px;
  }

  &__btn {
    background: #3b7cbf;
    color: white;
    padding: 0 30px;
    border: none;
    cursor: pointer;
  }
}
